{% extends "layout.html" %}
{% block content %}
<a href="/dashapp/" class="dash-link">
    <span>Embdedded Plotly Dash</span>
    <i class="fas fa-arrow-right"></i>
</a>
<br>


<a href="/choropleth/" class="dash-link">
    <span>choropleth graph</span>
    <i class="fas fa-arrow-right"></i>
</a>
{%endblock content %}






